node_modules
crypto.env
.DS_Store
.vscode
.bash_history
.bashrc
.cache/
.cloud-locale-test.skip
.config/
.npm/
.pm2/
.profile
.ssh/
.viminfo
nodesource_setup.sh
npm-debug.log
aux
*.xlsx
dump
data
*.bson
*.json
*.csv
*.log
.ipynb_checkpoints/
*-checkpoint.ipynb
Images/
*.png
*.jpg
package-lock.json
*.env
.gitconfig